extends layout

block content
  .get
    .am-g
      .am-u-lg-12
        .get-title
          .get_font_left
            img(src='img/font_yjy.png', alt='')
          #banner_num.get_font_center
          .get_font_rigth
            img(src='img/font_zty.png', alt='')
        .font_line
          img(src='img/font_line.png', alt='')
        p
          a.am-btn.am-btn-sm.get-btn.am-radius.banner_ios.am-icon-apple(href='###')  App store
          a.am-btn.am-btn-sm.am-radius.get-btn.banner_android.am-icon-android(href='###')  Android            
  .banner_navbg
      .am-g
        .banner_nav
          span.am-icon-caret-right   筛选：
          a(href='###') 人气最高
          a.banner_hover(href='###') 编辑推荐
          a(href='###') 最新萌宠
          a(href='###') 语言涂鸦
    .am-g.am-imglist
      ul.am-gallery.am-avg-sm-2.am-avg-md-3.am-avg-lg-6.am-gallery-default(data-am-widget='gallery')
        -var list = new Array(10)               
        each val,i in list
          li
            .am-gallery-item.am_list_block
              a.am_img_bg(href='/pic')
                img.am_img.animated(src='img/loading.gif', data-original='http://img.petshow.cc/pet_show/2015_08/6d3c22171da582f569702bad45d9a4c6.jpg', alt='远方 有一个地方 那里种有我们的梦想')
              .am_listimg_info
                span.am-icon-heart  132
                span.am-icon-comments  67
                span.am_imglist_time 15分钟前
            a.am_imglist_user
              span.am_imglist_user_ico
                img(src='img/tx.jpg', alt='')
              span.am_imglist_user_font 路见不平Eason吼[#{i+1}]
block script                                 
  script(src='js/petshow.js')
  script(src='js/countUp.min.js')
    
