extend layout
block content
  .am_tuya
    .am_tuya_user
      .am_tuya_user_ico
        img(src='img/tx.jpg', alt='')
      .am_tuya_user_info
        .am_tuya_user_info_name 在你们心中奔腾起来你们受不了
        .am_tuya_user_info_coordinate
          span.am_tuya_user_info_time 15分钟前
          | 新疆维吾尔自治区 哈萨克民族自治州
    .am_tuya_content
      .am_tuya_content_l
        .am_albums
          img(src='img/kj.png', alt='')
        .am_tuya_more
          .am_tuya_oneword 我要在你们心中奔腾，你们怕不怕？
          .am_tuya_comment
            .am_tuya_comment_user
              .am_tuya_comment_user_l
                img(src='img/kj.png', alt='')
                | 我是超级小短腿柯基 
                span   •  15分钟前
              .am_tuya_comment_user_r
                | 新疆维吾尔自治区 哈萨克自治州
              .am_tuya_comment_text 站酷9周年，突然发现自己的酷龄已经8岁。回忆点滴，设计路漫漫，有你相伴。
          .am_tuya_comment
            .am_tuya_comment_user
              .am_tuya_comment_user_l
                img(src='img/kj.png', alt='')
                | 我是超级小短腿柯基 
                span   •  15分钟前
              .am_tuya_comment_user_r
                | 新疆维吾尔自治区 哈萨克自治州
              .am_tuya_comment_text 我来了！哈哈哈哈哈哈哈哈！
          .am_tuya_comment
            .am_tuya_comment_user
              .am_tuya_comment_user_l
                img(src='img/kj.png', alt='')
                | 我是超级小短腿柯基 
                span   •  15分钟前
              .am_tuya_comment_user_r
                | 新疆维吾尔自治区 哈萨克自治州
              .am_tuya_comment_text 首先，我们增加了一个叫做orderProp的标签，这样我们的用户就可以选择我们提供的两种排序方法。
          .am_tuya_comment
            .am_tuya_comment_user
              .am_tuya_comment_user_l
                img(src='img/kj.png', alt='')
                | 我是超级小短腿柯基 
                span   •  15分钟前
              .am_tuya_comment_user_r
                | 新疆维吾尔自治区 哈萨克自治州
              .am_tuya_comment_text 我来了！哈哈哈哈哈哈哈哈！
        .am_news_load
          span
            i.am-icon-spinner.am-icon-spin
            |  查看更多讨论
      .am_tuya_content_r
        ul.am_tuya_r_info
          li
            i.am-icon-heart
            span 10 人喜欢
          li
            i.am-icon-comments
            span 4 条讨论
          li
            i.am-icon-eye
            span 126 次查看
          li
            i.am-icon-share-square-o
            span 分享涂鸦
          li
            i.am-icon-clock-o
            span 发布 2015.08.12
        ul.am_tuya_tag
          li
            span.am_tuya_tag_title TAG
          li
            a(href='')
              span 汪星人
              span 15623
          li
            a(href='')
              span 柯基
              span 6251
          li
            a(href='')
              span 主人合影
              span 3256
          li
            a(href='')
              span 棕白色
              span 54
        .page_hot
          .page_hot_title 人气涂鸦
          .page_hot_list
            .page_hot_block
              dl
                dt
                  a(href='/21712.html')
                    img(src='http://img.petshow.cc/pet_show/2015_08/9271536e6bba236ff7ac4621304a935b.jpg', alt='')
                dd
                  i 路见不平Eason吼 ♫
                  em 广西壮族自治区钦州市
                  .hot_block_info
                    .hot_info_l.am-icon-heart 16
                    .hot_info_r.am-icon-comments 1
            .page_hot_block
              dl
                dt
                  a(href='/19866.html')
                    img(src='http://img.petshow.cc/pet_show/2015_08/a06efc530d8220cb30a711c5e0ea92a8.jpg', alt='')
                dd
                  i 张子玉^_-@
                  em 北京市北京市
                  .hot_block_info
                    .hot_info_l.am-icon-heart 14
                    .hot_info_r.am-icon-comments 1
            .page_hot_block
              dl
                dt
                  a(href='/23083.html')
                    img(src='http://img.petshow.cc/pet_show/2015_08/49c8a8256eb95f549fa843fb8b9a61eb.jpg', alt='')
                dd
                  i 梦里花落
                  em 重庆市重庆市
                  .hot_block_info
                    .hot_info_l.am-icon-heart 13
                    .hot_info_r.am-icon-comments 5
            .page_hot_block
              dl
                dt
                  a(href='/21687.html')
                    img(src='http://img.petshow.cc/pet_show/2015_08/3e2d201e234fc5be999710726f89b895.jpg', alt='')
                dd
                  i 神秘人
                  em 广西壮族自治区南宁市
                  .hot_block_info
                    .hot_info_l.am-icon-heart 13
                    .hot_info_r.am-icon-comments 3
            .page_hot_block
              dl
                dt
                  a(href='/20603.html')
                    img(src='http://img.petshow.cc/pet_show/2015_08/b1253be5c48cba3eef939c5fb25b99e7.jpg', alt='')
                dd
                  i 夜光
                  em 安徽省滁州市
                  .hot_block_info
                    .hot_info_l.am-icon-heart 13
                    .hot_info_r.am-icon-comments 3
            .page_hot_block
              dl
                dt
                  a(href='/21644.html')
                    img(src='http://img.petshow.cc/pet_show/2015_08/3a87a79c8aef235f36876c1ed3295e4c.jpg', alt='')
                dd
                  i 吉娃娃_朵朵
                  em 山东省济宁市
                  .hot_block_info
                    .hot_info_l.am-icon-heart 12
                    .hot_info_r.am-icon-comments 2
  .am_tuya_cai
    .am_tuya_cai_ti 猜你喜欢
    .am-g.am-imglist
      ul.am-gallery.am-avg-sm-2.am-avg-md-3.am-avg-lg-4.am-gallery-default(data-am-widget='gallery')
        li
          .am-gallery-item.am_list_block
            a.am_img_bg(href='###')
              img.am_img.animated(src='img/loading.gif', data-original='http://img.petshow.cc/pet_show/2015_08/6d3c22171da582f569702bad45d9a4c6.jpg', alt='远方 有一个地方 那里种有我们的梦想')
          a.am_imglist_user
            span.am_imglist_user_ico
              img(src='img/tx.jpg', alt='')
            span.am_imglist_user_font 路见不平Eason吼
        li
          .am-gallery-item.am_list_block
            a.am_img_bg(href='###')
              img.am_img.animated(src='img/loading.gif', data-original='http://img.petshow.cc/pet_show/2015_08/6d3c22171da582f569702bad45d9a4c6.jpg', alt='远方 有一个地方 那里种有我们的梦想')
          a.am_imglist_user
            span.am_imglist_user_ico
              img(src='img/tx.jpg', alt='')
            span.am_imglist_user_font 路见不平Eason吼
        li
          .am-gallery-item.am_list_block
            a.am_img_bg(href='###')
              img.am_img.animated(src='img/loading.gif', data-original='http://img.petshow.cc/pet_show/2015_08/6d3c22171da582f569702bad45d9a4c6.jpg', alt='远方 有一个地方 那里种有我们的梦想')
          a.am_imglist_user
            span.am_imglist_user_ico
              img(src='img/tx.jpg', alt='')
            span.am_imglist_user_font 路见不平Eason吼
        li
          .am-gallery-item.am_list_block
            a.am_img_bg(href='###')
              img.am_img.animated(src='img/loading.gif', data-original='http://img.petshow.cc/pet_show/2015_08/6d3c22171da582f569702bad45d9a4c6.jpg', alt='远方 有一个地方 那里种有我们的梦想')
          a.am_imglist_user
            span.am_imglist_user_ico
              img(src='img/tx.jpg', alt='')
            span.am_imglist_user_font 路见不平Eason吼
      .am_tuya_ckgd
        i.am-icon-spinner.am-icon-spin
        a(href='')  查看更多
