extends layout

block content
    .am-g.ztlb_nr
      .am-u-sm-12
        .ztlb_nr_blockc
          .ztlb_nr_blockc_l
            a(href='/topic')
                img(src='img/kj.png', alt='')
          .ztlb_nr_blockc_r
            .ztlb_nr_blockc_r_info
              .ztlb_nr_blockc_r_info_l
                .ztlb_nr_blockc_r_info_num 37
                div 收录
              .ztlb_nr_blockc_r_info_r
                .ztlb_nr_blockc_r_info_num 182
                div 人气
            a.ztlb_nr_blockc_r_title 布兜宠物 Budoupet Store
            span.ztlb_nr_blockc_r_nr 宠物们表达爱意的方式，秀恩爱、拍写真、或拥抱、或接吻，玩得不亦乐乎。其实爱你，只要待在一起就感觉很幸福吧....
            .ztlb_nr_blockc_r_user
              | 参与用户 
              img(src='img/kj.png', alt='')
              img(src='img/kj.png', alt='')
              img(src='img/kj.png', alt='')
              img(src='img/kj.png', alt='')
              img(src='img/kj.png', alt='')
              img(src='img/kj.png', alt='')
              img(src='img/kj.png', alt='')
        .ztlb_nr_blockc
          .ztlb_nr_blockc_l
            img(src='img/kj.png', alt='')
          .ztlb_nr_blockc_r
            .ztlb_nr_blockc_r_info
              .ztlb_nr_blockc_r_info_l
                .ztlb_nr_blockc_r_info_num 37
                div 收录
              .ztlb_nr_blockc_r_info_r
                .ztlb_nr_blockc_r_info_num 182
                div 人气
            a.ztlb_nr_blockc_r_title 布兜宠物 Budoupet Store
            span.ztlb_nr_blockc_r_nr 宠物们表达爱意的方式，秀恩爱、拍写真、或拥抱、或接吻，玩得不亦乐乎。其实爱你，只要待在一起就感觉很幸福吧....
            .ztlb_nr_blockc_r_user
              | 参与用户 
              img(src='img/kj.png', alt='')
              img(src='img/kj.png', alt='')
              img(src='img/kj.png', alt='')
              img(src='img/kj.png', alt='')
              img(src='img/kj.png', alt='')
              img(src='img/kj.png', alt='')
              img(src='img/kj.png', alt='')
        .ztlb_nr_blockc
          .ztlb_nr_blockc_l
            img(src='img/kj.png', alt='')
          .ztlb_nr_blockc_r
            .ztlb_nr_blockc_r_info
              .ztlb_nr_blockc_r_info_l
                .ztlb_nr_blockc_r_info_num 37
                div 收录
              .ztlb_nr_blockc_r_info_r
                .ztlb_nr_blockc_r_info_num 182
                div 人气
            a.ztlb_nr_blockc_r_title 布兜宠物 Budoupet Store
            span.ztlb_nr_blockc_r_nr 宠物们表达爱意的方式，秀恩爱、拍写真、或拥抱、或接吻，玩得不亦乐乎。其实爱你，只要待在一起就感觉很幸福吧....
            .ztlb_nr_blockc_r_user
              | 参与用户 
              img(src='img/kj.png', alt='')
              img(src='img/kj.png', alt='')
              img(src='img/kj.png', alt='')
              img(src='img/kj.png', alt='')
              img(src='img/kj.png', alt='')
              img(src='img/kj.png', alt='')
              img(src='img/kj.png', alt='')
        .ztlb_nr_blockc
          .ztlb_nr_blockc_l
            img(src='img/kj.png', alt='')
          .ztlb_nr_blockc_r
            .ztlb_nr_blockc_r_info
              .ztlb_nr_blockc_r_info_l
                .ztlb_nr_blockc_r_info_num 37
                div 收录
              .ztlb_nr_blockc_r_info_r
                .ztlb_nr_blockc_r_info_num 182
                div 人气
            a.ztlb_nr_blockc_r_title 布兜宠物 Budoupet Store
            span.ztlb_nr_blockc_r_nr 宠物们表达爱意的方式，秀恩爱、拍写真、或拥抱、或接吻，玩得不亦乐乎。其实爱你，只要待在一起就感觉很幸福吧....
            .ztlb_nr_blockc_r_user
              | 参与用户 
              img(src='img/kj.png', alt='')
              img(src='img/kj.png', alt='')
              img(src='img/kj.png', alt='')
              img(src='img/kj.png', alt='')
              img(src='img/kj.png', alt='')
              img(src='img/kj.png', alt='')
              img(src='img/kj.png', alt='')