extend layout

block content
  .am-g.ztlb_nr.ztlb_nr_list
    .am-u-sm-12
      .ztlb_nr_block
        .ztlb_nr_block_l
          img(src='img/kj.png', alt='')
        .ztlb_nr_block_r
          .ztlb_nr_block_r_info
            .ztlb_nr_block_r_info_l
              .ztlb_nr_block_r_info_num 37
              div 收录
            .ztlb_nr_block_r_info_r
              .ztlb_nr_block_r_info_num 182
              div 人气
          a.ztlb_nr_block_r_title 布兜宠物 Budoupet Store
          span.ztlb_nr_block_r_nr 宠物们表达爱意的方式，秀恩爱、拍写真、或拥抱、或接吻，玩得不亦乐乎。其实爱你，只要待在一起就感觉很幸福吧....
          .ztlb_nr_block_r_user
            | 参与用户 
            img(src='img/kj.png', alt='')
            img(src='img/kj.png', alt='')
            img(src='img/kj.png', alt='')
            img(src='img/kj.png', alt='')
            img(src='img/kj.png', alt='')
            img(src='img/kj.png', alt='')
            img(src='img/kj.png', alt='')
      .ztlb_nr_block_r_info_copy_bg
        span 收录：82
        span 人气：74
      .ztlb_nr_block_r_info_copy
  .ztlb_nr_block_r_user.ztlb_nr_block_r_user_copy
    span 参与用户
    img(src='img/kj.png', alt='')
    img(src='img/kj.png', alt='')
    img(src='img/kj.png', alt='')
    img(src='img/kj.png', alt='')
    img(src='img/kj.png', alt='')
    img(src='img/kj.png', alt='')
    img(src='img/kj.png', alt='')
  .am-g.ztlb_nrlist
    .am-u-sm-12
      ul.am-gallery.am-avg-sm-2.am-avg-md-3.am-avg-lg-4.am-gallery-default(data-am-widget='gallery')
        li
          .am-gallery-item.am_list_block
            a.am_img_bg(href='#')
              img.am_img.animated(src='img/loading.gif', data-original='http://img.petshow.cc/pet_show/2015_08/6d3c22171da582f569702bad45d9a4c6.jpg', alt='远方 有一个地方 那里种有我们的梦想')
        li
          .am-gallery-item.am_list_block
            a.am_img_bg(href='###')
              img.am_img.animated(src='img/loading.gif', data-original='http://img.petshow.cc/pet_show/2015_08/6d3c22171da582f569702bad45d9a4c6.jpg', alt='远方 有一个地方 那里种有我们的梦想')
        li
          .am-gallery-item.am_list_block
            a.am_img_bg(href='###')
              img.am_img.animated(src='img/loading.gif', data-original='http://img.petshow.cc/pet_show/2015_08/6d3c22171da582f569702bad45d9a4c6.jpg', alt='远方 有一个地方 那里种有我们的梦想')
        li
          .am-gallery-item.am_list_block
            a.am_img_bg(href='###')
              img.am_img.animated(src='img/loading.gif', data-original='http://img.petshow.cc/pet_show/2015_08/6d3c22171da582f569702bad45d9a4c6.jpg', alt='远方 有一个地方 那里种有我们的梦想')
        li
          .am-gallery-item.am_list_block
            a.am_img_bg(href='###')
              img.am_img.animated(src='img/loading.gif', data-original='http://img.petshow.cc/pet_show/2015_08/6d3c22171da582f569702bad45d9a4c6.jpg', alt='远方 有一个地方 那里种有我们的梦想')
        li
          .am-gallery-item.am_list_block
            a.am_img_bg(href='###')
              img.am_img.animated(src='img/loading.gif', data-original='http://img.petshow.cc/pet_show/2015_08/6d3c22171da582f569702bad45d9a4c6.jpg', alt='远方 有一个地方 那里种有我们的梦想')
