extend layout
block content
  .am_user
    .am_user_head
      .am_user_head_content
        .am_user_head_l
          .am_user_head_l_ico
            img(src='img/tx.jpg', alt='')
          .am_user_head_l_ico_info
            span.am_user_head_l_name 汪汪7c3927fef
            span.am_user_head_l_map
              i.am-icon-map-marker
              |  香港特别行政区
        .am_user_head_r
          .am_user_head_r_tag
            .am_user_head_l_ico_info_ti
              | 已发布
              span.cff5656 36
              | 张照片
            span
              i.am-icon-star
              |  粉丝：
              span.am_user_head_unm 15
            span
              i.am-icon-user
              |  关注：
              span.am_user_head_unm 6
            span
              i.am-icon-heart
              | 被喜欢：
              span.am_user_head_unm 60
    .am-g.am-imglist.am_user_list_li
      ul.am-gallery.am-avg-sm-2.am-avg-md-3.am-avg-lg-6.am-gallery-default(data-am-widget='gallery')
        li
          .am-gallery-item.am_list_block
            a.am_img_bg(href='###')
              img.am_img.animated(src='img/loading.gif', data-original='http://img.petshow.cc/pet_show/2015_08/6d3c22171da582f569702bad45d9a4c6.jpg', alt='远方 有一个地方 那里种有我们的梦想')
            .am_listimg_info
              span.am-icon-heart  132
              span.am-icon-comments  67
              span.am_imglist_time 15分钟前
        li
          .am-gallery-item.am_list_block
            a.am_img_bg(href='###')
              img.am_img.animated(src='img/loading.gif', data-original='http://img.petshow.cc/pet_show/2015_08/6d3c22171da582f569702bad45d9a4c6.jpg', alt='远方 有一个地方 那里种有我们的梦想')
            .am_listimg_info
              span.am-icon-heart  132
              span.am-icon-comments  67
              span.am_imglist_time 15分钟前
        li
          .am-gallery-item.am_list_block
            a.am_img_bg(href='###')
              img.am_img.animated(src='img/loading.gif', data-original='http://img.petshow.cc/pet_show/2015_08/6d3c22171da582f569702bad45d9a4c6.jpg', alt='远方 有一个地方 那里种有我们的梦想')
            .am_listimg_info
              span.am-icon-heart  132
              span.am-icon-comments  67
              span.am_imglist_time 15分钟前
        li
          .am-gallery-item.am_list_block
            a.am_img_bg(href='###')
              img.am_img.animated(src='img/loading.gif', data-original='http://img.petshow.cc/pet_show/2015_08/6d3c22171da582f569702bad45d9a4c6.jpg', alt='远方 有一个地方 那里种有我们的梦想')
            .am_listimg_info
              span.am-icon-heart  132
              span.am-icon-comments  67
              span.am_imglist_time 15分钟前
        li
          .am-gallery-item.am_list_block
            a.am_img_bg(href='###')
              img.am_img.animated(src='img/loading.gif', data-original='http://img.petshow.cc/pet_show/2015_08/6d3c22171da582f569702bad45d9a4c6.jpg', alt='远方 有一个地方 那里种有我们的梦想')
            .am_listimg_info
              span.am-icon-heart  132
              span.am-icon-comments  67
              span.am_imglist_time 15分钟前
        li
          .am-gallery-item.am_list_block
            a.am_img_bg(href='###')
              img.am_img.animated(src='img/loading.gif', data-original='http://img.petshow.cc/pet_show/2015_08/6d3c22171da582f569702bad45d9a4c6.jpg', alt='远方 有一个地方 那里种有我们的梦想')
            .am_listimg_info
              span.am-icon-heart  132
              span.am-icon-comments  67
              span.am_imglist_time 15分钟前
        li
          .am-gallery-item.am_list_block
            a.am_img_bg(href='###')
              img.am_img.animated(src='img/loading.gif', data-original='http://img.petshow.cc/pet_show/2015_08/6d3c22171da582f569702bad45d9a4c6.jpg', alt='远方 有一个地方 那里种有我们的梦想')
            .am_listimg_info
              span.am-icon-heart  132
              span.am-icon-comments  67
              span.am_imglist_time 15分钟前
        li
          .am-gallery-item.am_list_block
            a.am_img_bg(href='###')
              img.am_img.animated(src='img/loading.gif', data-original='http://img.petshow.cc/pet_show/2015_08/6d3c22171da582f569702bad45d9a4c6.jpg', alt='远方 有一个地方 那里种有我们的梦想')
            .am_listimg_info
              span.am-icon-heart  132
              span.am-icon-comments  67
              span.am_imglist_time 15分钟前
        li
          .am-gallery-item.am_list_block
            a.am_img_bg(href='###')
              img.am_img.animated(src='img/loading.gif', data-original='http://img.petshow.cc/pet_show/2015_08/6d3c22171da582f569702bad45d9a4c6.jpg', alt='远方 有一个地方 那里种有我们的梦想')
            .am_listimg_info
              span.am-icon-heart  132
              span.am-icon-comments  67
              span.am_imglist_time 15分钟前
        li
          .am-gallery-item.am_list_block
            a.am_img_bg(href='###')
              img.am_img.animated(src='img/loading.gif', data-original='http://img.petshow.cc/pet_show/2015_08/6d3c22171da582f569702bad45d9a4c6.jpg', alt='远方 有一个地方 那里种有我们的梦想')
            .am_listimg_info
              span.am-icon-heart  132
              span.am-icon-comments  67
              span.am_imglist_time 15分钟前
        li
          .am-gallery-item.am_list_block
            a.am_img_bg(href='###')
              img.am_img.animated(src='img/loading.gif', data-original='http://img.petshow.cc/pet_show/2015_08/6d3c22171da582f569702bad45d9a4c6.jpg', alt='远方 有一个地方 那里种有我们的梦想')
            .am_listimg_info
              span.am-icon-heart  132
              span.am-icon-comments  67
              span.am_imglist_time 15分钟前
        li
          .am-gallery-item.am_list_block
            a.am_img_bg(href='###')
              img.am_img.animated(src='img/loading.gif', data-original='http://img.petshow.cc/pet_show/2015_08/6d3c22171da582f569702bad45d9a4c6.jpg', alt='远方 有一个地方 那里种有我们的梦想')
            .am_listimg_info
              span.am-icon-heart  132
              span.am-icon-comments  67
              span.am_imglist_time 15分钟前
 